<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	{% if title %}
		<title>{{title}} - WTE</title>
	{% else %}
		<title>What The Eddy</title>
	{% endif %}
	<!-- utf-8 works for most cases -->
	<meta charset="utf-8">
	<!-- Forcing initial-scale shouldn't be necessary -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Use the latest (edge) version of IE rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Disable auto-scale in iOS 10 Mail entirely -->
	<meta name="x-apple-disable-message-reformatting">

	<!-- <meta name="description" content="">
	<meta name="author" content=""> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link href="/static/css/default.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">


	<link rel="shortcut icon" href="/static/img/professores.png">
</head>

<body>

<!-- Main Content-->
<div class="contentdiv container-fluid" style="padding-bottom:2em;">
	<form action="/login" method="POST" enctype="multipart/form-data">
		<p style="text-align:center;">
		This is a secureish site. Other Legal words here. Press "Enter" when you are
		ready to enter this mess.
		</p>

		<div class="col-xs-12 col-sm-11 col-md-4 textbox-height">
			<div class="mdl-textfield mdl-textfield--floating-label
			mdl-js-textfield mdl-textfield--full-width  is-upgraded"
			data-upgraded=",MaterialTextfield">
			</div>
		</div>
		<div class="col-xs-12 col-sm-11 col-md-4 textbox-height">
			<div class="mdl-textfield mdl-textfield--floating-label
			mdl-js-textfield mdl-textfield--full-width  is-upgraded"
			data-upgraded=",MaterialTextfield">
			<input type="submit" value="Enter" class="overide_button_format">
			</div>
		</div>
		<div class="col-xs-12 col-sm-11 col-md-4 textbox-height">
			<div class="mdl-textfield mdl-textfield--floating-label
			mdl-js-textfield mdl-textfield--full-width  is-upgraded"
			data-upgraded=",MaterialTextfield">
			</div>
		</div>
	</form>
</div>
	<!-- End of Main Content -->
	<!-- Start of Foorter-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 textbox-height">
		      <div class="mdl-textfield mdl-textfield--floating-label
		      mdl-js-textfield mdl-textfield--full-width  is-upgraded"
		      data-upgraded=",MaterialTextfield">
		      </div>
		    </div>
				<div class="col-xs-12 col-sm-4 col-md-4 textbox-height">
					<div class="mdl-textfield mdl-textfield--floating-label
					mdl-js-textfield mdl-textfield--full-width  is-upgraded"
					data-upgraded=",MaterialTextfield">
					&copy; What The Eddy
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 textbox-height">
					<div class="mdl-textfield mdl-textfield--floating-label
					mdl-js-textfield mdl-textfield--full-width  is-upgraded"
					data-upgraded=",MaterialTextfield">
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.scrollTo.js"></script>
	<script src="/static/js/jquery.nav.js"></script>
	<script src="/static/js/jquery.localScroll.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script src="/static/js/isotope.js"></script>
	<script src="/static/js/jquery.flexslider.js"></script>
	<script src="/static/js/inview.js"></script>
	<script src="/static/js/animate.js"></script>
	<script src="/static/js/custom.js"></script>

</body>
</html>
